<a href="https://colab.research.google.com/github/janviishere/Python-Program/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#adding two numbers
num1=10
num2=20
num1+num2

30

In [ ]:
#swapp two numbers
num1,num2=num2,num1
print("num1",num2)
print("num2",num1)

num1 20
num2 10

In [2]:
import datetime
a="janvi"
b=18


year = (datetime.datetime.today().year)-b

print("Hello",a,"you are",b,"years old","Your year of birth is",year)

Hello janvi you are 18 years old Your year of birth is 2007