<a href="https://colab.research.google.com/github/janviishere/Python-Program/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 =[1 , 2, 'abc', 3,' def']
list2 =[]
list3 =list((1,2,3))
print(list1)
print(list2)
print(list3)

[1, 2, 'abc', 3, ' def']
[]
[1, 2, 3]

In [ ]:
list1 = [1, 2, "hello", 3]
print(list1[2])

hello

In [ ]:
list1 = ["one", "two", "three"]
list1.append("four")
print(list1)

['one', 'two', 'three', 'four']

In [ ]:
list =['six',6,7,'seven','seven','six']
list.pop(2)
print(list)

['six', 6, 'seven', 'seven', 'six']

In [ ]:
list1 =[100,3,4,12,1]
list1.sort()
print(list1)

[1, 3, 4, 12, 100]

In [ ]:
list1 =[100,3,4,12,1]
list1.reverse()
print(list1)

[1, 12, 4, 3, 100]

In [ ]:
tuple1 = (1, 2, 'abc', 3, 4)
tuple2 = ()
tuple3 = tuple((1, 3, 5, "hello"))
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'abc', 3, 4)
()
(1, 3, 5, 'hello')

In [ ]:
(1, 2, 'abc', 3, 4)
()
(1, 2, 3, 'hello')

(1, 2, 3, 'hello')

In [ ]:
tuple =(1,2,"hello",3)
print(tuple[2])

hello

In [ ]:
set1 = {1, 2, 3, 'abc', 6}
print(set1)

{1, 2, 3, 6, 'abc'}