<a href="https://colab.research.google.com/github/janviishere/Python-Program/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#adding two numbers
num1=10
num2=20
num1+num2

30

In [ ]:
#swapp two numbers
num1,num2=num2,num1
print("num1",num2)
print("num2",num1)

num1 20
num2 10

In [1]:
import datetime
a="janvi"
b=18


year = (datetime.datetime.today().year)-b

print("Hello",a,"you are",b,"years old","Your year of birth is",year)

Hello janvi you are 18 years old Your year of birth is 2007

In [2]:
import numpy as np
array = np.arange(1, 101)
matrix = array.reshape(10, 10)

row_sums = np.sum(matrix, axis=1)
column_sums = np.sum(matrix, axis=0)

print("Row sums:")
print(row_sums)

print("\nColumn sums:")
print(column_sums)

Row sums:
[ 55 155 255 355 455 555 655 755 855 955]

Column sums:
[460 470 480 490 500 510 520 530 540 550]

In [5]:
import pandas as pd
data = {
    'Name': [
        'Meena Porwal', 'Shagun Aggarwal', 'Ritika Tiwari', 'Ansh Yadav',
        'Aditya Singh', 'Shantanu Bhadauriya', 'Aniket Mishra', 'Dhriti Singh',
        'Aradhya Aggarwal', 'Ayush Dubey'
    ],
    'Age': [
        18,19,20,18,19,20,19,18,18,20
    ],
    'Major Subject': [
        'Computer Science', 'Mathematics', 'Physics', 'Biology',
        'Chemistry', 'English', 'Mathematics', 'Computer Science',
        'Biology', 'Physics'
    ],
    'GPA': [
        5.8, 5.8, 5.8, 5.8,
        7.6, 7.1, 8.7, 5.8,
        8.8, 9.0
    ]
}
students_df = pd.DataFrame(data)

print(students_df)

                  Name  Age     Major Subject  GPA
0         Meena Porwal   18  Computer Science  5.8
1      Shagun Aggarwal   19       Mathematics  5.8
2        Ritika Tiwari   20           Physics  5.8
3           Ansh Yadav   18           Biology  5.8
4         Aditya Singh   19         Chemistry  7.6
5  Shantanu Bhadauriya   20           English  7.1
6        Aniket Mishra   19       Mathematics  8.7
7         Dhriti Singh   18  Computer Science  5.8
8     Aradhya Aggarwal   18           Biology  8.8
9          Ayush Dubey   20           Physics  9.0